src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="helloFlow" doc:id="4eb12d76-1332-40e4-830c-17b094c0e3e4" >
		<http:listener doc:name="GET /hello" doc:id="1cf52ff5-cf26-486e-ab17-672ad7d04a71" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response reasonPhrase="Success" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="subFlow" doc:id="5d28357c-fab9-40c4-805b-978a0baf15ce" name="subFlow"/>
		<vm:publish queueName="goodbye" doc:name="VM Goodbye" doc:id="73908bc7-b45f-4887-b871-73fb0f8a3497" config-ref="VM_Config" timeout="50"/>
		<logger level="INFO" doc:name="Logger" doc:id="0d62fb8d-cb13-44ed-974c-479431c01e62" message="#['\nMessage: ' ++ payload]"/>
	</flow>
	<flow name="privateFlow" doc:id="d8cad8a3-3f3c-4e79-9078-b945e61fb548">
		<http:request method="GET" doc:name="GET /goodbye" doc:id="44bad716-df48-4c26-bc0f-949f06110aeb" config-ref="HTTP_Request_configuration" path="/goodbye" responseTimeout="300000">
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
	</flow>
	<sub-flow name="subFlow" doc:id="cab077c8-e90a-44c6-ae7f-b20d915c06b9" >
		<set-variable value="#[message.attributes.queryParams.fname]" doc:name="firstName" doc:id="7e615dfa-b80c-4db3-9761-65a12057fa4f" variableName="firstName" />
		<set-payload value="Hello" doc:name="Hello" doc:id="6cca4eb1-89a6-47e5-ac1e-bde9b31feb65" />
	</sub-flow>
	<flow name="goodbyeFlow" doc:id="00a18017-f509-45e2-82f2-958857214e35" >
		<vm:listener queueName="goodbye" doc:name="VM goodbye" doc:id="6ab6f703-a3cf-4747-9509-989fd77e1562" config-ref="VM_Config"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Shyam')]" doc:name="Goodbye" doc:id="bf875fec-2447-4040-aed8-da4ba1c6ce64" />
		<logger level="INFO" doc:name="fullName" doc:id="c5b6aaa9-4f1a-4d90-bb71-4b4d7cd8aec0" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
